body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    font-size: 50px;
    background-color: lightblue;
    text-align: center;
}

.list.unordered,
li {
    color: rgb(58, 18, 78);
}

.list .inList {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

.list .inList:hover {
    text-decoration: underline;
}

h3 {
    color: darkblue;
}

.homeButton img {
    border: 3px solid rgb(44, 44, 44);
}

.homeButton img:hover {
    opacity: 0.7;
}